[Desktop Entry]
Encoding=UTF-8
Name=Link to Weka ARFF to CSV (file process framework 20170212)
Type=Link
URL=https://pulipulichen.github.io/jieba-js/weka/arff2csv/index.html
Icon=text-html
