[Desktop Entry]
Encoding=UTF-8
Name=Link to npapernot/phishing-detection: Train a simple decision tree classifier to detect websites used for phishing
Type=Link
URL=https://github.com/npapernot/phishing-detection
Icon=text-html
